
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 34px;
    background-color: clear;
}

 #navname{
    margin-left: 5%;
}

#title {
  font-size: 65px;
  padding:20px;
}

#t1{
  padding:50;
  margin-top: 10%;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

#chapaimg{ 
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(70%);
  height:100%;
  width: 100%
  
}

#bio {
  font-size: 20px;
  padding: 20px;
}

#title-section {
  font-size: 25px;
  text-align: center;
  padding: 20px;
}

.progress {
  margin: 5px
}

 
.card-img {
  height: 100%;
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(70%);
  padding: 10px 10px 10px 10px;

}

.col-sm-4:hover {
  opacity: 0.5;
}

input[type=text],
input[type=email],
textarea {
  height: 25px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea {
  height: 75px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}

.btn{
    background:black;
    color: #ffffff;
}

/* footer */

footer{
    border-top:2px solid white;
    padding: 15px 0;
    max-width: 100%;
}

.footer-copyright,#social{
    color:black;
}


 /* ---- particles.js container ---- */
 #particles-js{

     width: 100%;
     height: 100%;
}
