
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 34px;
    background-color:#E7E3E8;
}



/* navbar */

.navbar{
    width: 100%;
    background-color: rgb(40, 43, 51);
}
#navname{
    margin-left: 5%;
    height: 100%;
    text-emphasis:20px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgb(40, 43, 51);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #ffffff;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.card-img {
  height: 90%
}

.card {
  margin-bottom: 5%
}


.card-title, .card-link {
  color: lightpink;
  font-weight: bold;
  margin-top: 20%
}
/* main content */

img {
    width: 100%;
    height: 10%;
    radius: 50%;
}


#mainimg{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  margin-top: 5%
    /* border-radius: 75%;
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto; */
}

#bio {
  padding: 20%
}

.container{
    padding-top: 20px;
}

#p1{
    float:right;
}


/* Form */

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}

.btn{
    background: #4aaaa5;
    color: #ffffff;
}

/* footer */

footer{
    border-top:2px solid;
    padding: 20px 0;
    width: 100%;
    background-color: rgb(40, 43, 51);

}

.footer-copyright,#social{
    color: #ffffff;
}


 /* ---- particles.js container ---- */
 #particles-js{

     width: 100%;
     height: 100%;
}
